/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
*.bak
*.bak2
*.working
*.ziplocal.properties.bak*
Index.ets.mywork
.clang-format
